@model Product


<div class="card cardbtn-outline-secondary m-1 p-2">
    <h4>@Model.Name <small>@Model.Price$</small></h4>
    <p>@Model.Description</p>

    <form asp-controller="Basket" asp-action="AddToBasket" method="post">

        <input type="hidden" value="@Model.Id" name="productId" />
        <input type="hidden" value="@ViewContext.HttpContext.Request.Path" name="returnUrl" />
        <input type="submit" value="AddToBasket" />

    </form>
</div>
